#pragma once

// --- WiFi Credentials ---
// List of SSIDs to connect to
const char* ssidList[] = {"YOUR_WIFI_SSID_1", "YOUR_WIFI_SSID_2"};
// Corresponding passwords for the SSIDs
const char* passwordList[] = {"YOUR_WIFI_PASSWORD_1", "YOUR_WIFI_PASSWORD_2"};

// --- MQTT Broker Credentials ---
const char* mqtt_server = "your_mqtt_broker_ip"; // MQTT server IP or hostname
#define MQTT_LOGIN "your_mqtt_login"
#define MQTT_PASS "your_mqtt_password"
