package com.dip16.oscilloscop

object Secrets {
    // --- MQTT Broker Credentials ---
    // Uncomment the broker you want to use or add a new one.
    const val MQTT_BROKER_URL = "tcp://your_mqtt_broker_ip:1883"
    const val MQTT_USERNAME = "your_mqtt_username"
    const val MQTT_PASSWORD = "your_mqtt_password"
}